name: JMeter Performance Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  jmeter-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run JMeter with QAInsights Action
        uses: QAInsights/PerfAction@2.0
        with:
          testPlanPath: 'Tests/httpbin.jmx'         # Path to your .jmx file in repo
          args: '-Jthreads=5 -Jrampup=2 -Jduration=20'
