# This is a basic workflow to help you get started with Actions

name: CI  # Workflow name (appears in GitHub Actions tab)

# --------------------------------------------------------
# Controls when the workflow will run
# --------------------------------------------------------
on:
  # Trigger the workflow on push or pull request events
  # but only for the "main" branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows manual trigger from GitHub Actions tab
  workflow_dispatch:

# --------------------------------------------------------
# Define jobs (a workflow can have multiple jobs)
# --------------------------------------------------------
jobs:
  # This workflow has a single job called "build"
  build:

    # The type of virtual machine to use for running this job
    runs-on: ubuntu-latest

    # Steps = sequence of commands or actions to run
    steps:
      # Step 1: Check out your repository under $GITHUB_WORKSPACE
      # so your job can access it
      - uses: QAInsights/PerfAction@v5.6.3

      # Step 2: Run Performance Test using QAInsights JMeter Action
      - name: PerfAction for JMeter
        # GitHub Action maintained by QAInsights to run JMeter tests
        uses: QAInsights/PerfAction@v5.6.3
        # You can add parameters to this action, like which test plan to run
        # Example:
        # with:
          test-plan-path: './httpbin.jmx'         # Path to your .jmx file in repo
          args: '-Jthreads=5 -Jrampup=2 -Jduration=10'


          
